@import "reset.css";
body {
    color: #2F2D32;
    background: #f9f9f9;
    font-size: 12px;
    line-height: 2;
}
h1, h2 {
	font-weight: bold;
}
h1 {
	background-color: #42B6F5;
	padding: 8px;
	font-size: 20px;
}
h2 {
	background-color: #FECE40;
	padding-left: 4px;
}
.main-container {
	padding: 12px;
}
.app-icon {
	float: right;
}
.custom-list-style:before {
	content: "";
	width: 10px;
	height: 10px;
	display: inline-block;
	background-color: #EE2B2A;
	transform: rotate(-45deg);
	margin-right: 10px;
}
.list-tools li {
	display: inline-block;
    margin-right: 12px;
}
.list-tools li:first-letter {
	font-size: 20px;
	font-weight: bold;
}
